<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.gif" %>
  </div>

  <div id="content">
    <h1>Hi! I'm Elizabeth Blackburn</h1>
    <p>I'm a brand new web developer, rounding the bend toward the end of my time in Dev Bootcamp. Woo!</p>
    <p>Since I started the pre-work for Dev Bootcamp in mid-December 2014, I have learned Ruby, JavaScript, SQL, HTML and CSS, the Sinatra DSL, and as of today (April 5, 2015) I'm dipping my toes into the Rails framework with this, my first Rails blog.</p>
  </div>
</div>
