<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.gif" %>
  </div>

  <div id="content">
    <h1>Hi! I'm THE ADMIN.</h1>
    <p>Four dollar toast XOXO tote bag, Truffaut letterpress vinyl PBR&B. Helvetica jean shorts crucifix High Life, distillery skateboard cred Etsy Brooklyn retro. XOXO leggings tilde, banjo art party flannel Schlitz fixie Etsy. Echo Park iPhone PBR&B, tote bag cliche gentrify gastropub Carles food truck ennui try-hard mlkshk Etsy. Tattooed craft beer Etsy cornhole. Wolf church-key VHS quinoa readymade. Quinoa ethical scenester, mlkshk viral brunch street art chia occupy cold-pressed meggings blog lo-fi irony.</p>
    <p></p>
  </div>
</div>
